---
export interface Props {
  id: string;
  partytown?: boolean;
}

const { id = 'XXXXXXXX', partytown = false } = Astro.props;

const attrs = partytown ? { type: 'text/partytown' } : {};
---

<script is:inline define:vars={{ id }} {...attrs}>
  (function (m, e, t, r, i, k, a) {
    m[i] =
      m[i] ||
      function () {
        // eslint-disable-next-line prefer-rest-params
        (m[i].a = m[i].a || []).push(arguments);
      };
    m[i].l = 1 * new Date();
    for (let j = 0; j < document.scripts.length; j++) {
      if (document.scripts[j].src === r) {
        return;
      }
    }
    // eslint-disable-next-line @typescript-eslint/no-unused-expressions
    ((k = e.createElement(t)),
      (a = e.getElementsByTagName(t)[0]),
      (k.async = 1),
      (k.src = r),
      a.parentNode.insertBefore(k, a));
  })(window, document, 'script', 'https://mc.yandex.ru/metrika/tag.js', 'ym');

  ym(id, 'init', {
    clickmap: true,
    trackLinks: true,
    accurateTrackBounce: true,
    webvisor: true,
  });
</script>
<noscript
  ><div><img src={`https://mc.yandex.ru/watch/${id}`} style="position:absolute; left:-9999px;" alt="" /></div></noscript
>
