---
import ProjectCards from '../structures/ProjectCards.astro';
import Button from '../common/Button.astro';
import { type ProjectCardProps as ProjectData } from '~/components/structures/ProjectCard.astro';

interface Props {
  title: string;
  data?: Array<ProjectData>;
  class?: string;
  layout?: {
    columns: number;
    rows: number;
    spans?: Array<{ col?: number; row?: number }>;
  };
}

const { class: className = '', data = [], title, layout } = Astro.props as Props;
---

<div>
  <div class="flex items-center justify-between mb-6">
    <span class="text-xl font-bold text-primary">{title}</span>
    <Button
      href="/projects"
      type="link"
      variant="underlined"
      text="Смотреть все"
      icon="utils/arrow-right"
      iconPosition="right"
      iconClasses="w-2 h-2 text-primary"
    />
  </div>
  <ProjectCards class={className} {data} {layout} />
</div>
