---
import Content from '~/components/common/Content.astro';
import PageLayout from '~/layouts/PageLayout.astro';

const metadata = {
  title: '404 - Страница не найдена',
  description:
    "Извините, но запрашиваемая вами страница не существует. Вернитесь на главную страницу.",
  ignoreTitleTemplate: true,
};
---

<PageLayout {metadata}>
  <Content>
    <h1>404 - Страница не найдена</h1>
    <p>Извините, но запрашиваемая вами страница не существует.</p>
    <p>Вы можете вернуться на <a href="/" class="underline font-bold">главную страницу</a>.</p>
  </Content>
</PageLayout>
