---
import Content from '~/components/common/Content.astro';
import PageLayout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Хроники Бизнес-Следопыта: Авторский Консалтинг, M&A Сделки, Кризис-Менеджмент',
  description:
    "28 лет реального опыта: не учебные кейсы, а живые истории о корпоративных войнах, M&A, выживании в кризис. Бизнес-следопыт – Ваш синтезатор для роста: от финансовой анатомии до Личного Бренда. Опыт, оплаченный 'потом и кровью'.",
  ignoreTitleTemplate: true,
};
---

<PageLayout {metadata}>
  <Content>
    <h1>404 - Страница не найдена</h1>
    <p>Извините, но запрашиваемая вами страница не существует.</p>
    <p>Вы можете вернуться на <a href="/" class="underline font-bold">главную страницу</a>.</p>
  </Content>
</PageLayout>
