---
import Content from '~/components/common/Content.astro';
import Button from '~/components/common/Button.astro';
import PageLayout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Что-то пошло не так',
  description: 'Возникла проблема при обработке вашего платежа. Пожалуйста, попробуйте снова или свяжитесь с нами для получения помощи.',
  robots: {
    index: false,
    follow: false,
  },
};

const breadCrumbLinks = [
  { text: 'Главная', href: '/' },
  { text: 'Донат', href: '/donate' },
  { text: 'Проблема с оплатой', href: '/payment-failure' },
];
---

<PageLayout {breadCrumbLinks} {metadata}>
  <Content>
    <h1>Что-то пошло не так</h1>
    <p>К сожалению, возникла проблема при обработке вашего платежа. Ваши средства не были списаны.</p>
    <p>
      Это могло произойти из-за временной проблемы с платежным сервисом. Пожалуйста, попробуйте снова или используйте альтернативный способ оплаты.
    </p>
    <p>
      Если проблема сохраняется, пожалуйста, <a href="/contacts" class="underline font-bold">свяжитесь с нами</a>, и мы с удовольствием поможем вам.
    </p>
    <div class="flex flex-col sm:flex-row gap-4 mt-4">
      <Button href="/donate" text="Попробовать снова" variant="primary" type="link" />
      <Button href="/" text="Вернуться на главную" variant="outlined" type="link" />
    </div>
  </Content>
</PageLayout>
