---
import PageLayout from '~/layouts/PageLayout.astro';
import Content from '~/components/common/Content.astro';
import VacanciesForm from '~/components/structures/VacanciesForm.astro';

const metadata = {
  title: 'Вакансии',
  ignoreTitleTemplate: true,
};
const breadCrumbLinks = [
  { text: 'Главная', href: '/' },
  { text: 'Вакансии', href: '/vacancies' },
];
---

<PageLayout
  {breadCrumbLinks}
  {metadata}
  heroItems={[
    {
      title: 'Вакансии',
      bgImage: '~/assets/images/pages/contacts.webp',
    },
  ]}
>
  <div>
    <Content>
      <h1>Специалисты, которых ищет Бизнес-Следопыт</h1>

      <p>
        Как и в любом бизнесе, я всегда в поисках лучших специалистов, профессионалов в своём деле. Оплата очень
        достойная. Работа, как правило, дистанционная, но с периодическими командировками.
      </p>

      <p>
        Главное требование – Вы получаете удовольствие от своей профессиональной деятельности и стремитесь к новым
        высотам.
      </p>

      <p>
        Вы коммуникабельны, ответственны и пунктуальны. У Вас врожденное тонкое чувство юмора, развиты понимание
        субординации и уважение к коллективу.
      </p>

      <p>
        Для меня не важны Ваш возраст, пол, вероисповедание, гражданство, место жительство, политические взгляды. Я ценю
        в первую очередь Ваши человеческие качества, и во вторую – профессиональные навыки
      </p>

      <h2>Кого я приглашаю в мою команду прямо сейчас:</h2>

      <ul>
        <li>юрист по корпоративному праву. Желательно с международным опытом.</li>
        <li>юрист по защите интеллектуальных прав. Желательно с международным опытом.</li>
        <li>патентный поверенный.</li>
        <li>финансовый аудитор.</li>
        <li>онлайн ассистент (консультант)</li>
      </ul>
    </Content>

    <div class="">
      <VacanciesForm />
    </div>
  </div>
</PageLayout>
