---
import Button from '~/components/common/Button.astro';

import { trimSlash } from '~/utils/permalinks';

interface Link {
  text: string;
  href: string;
}

interface Props {
  links?: Array<Link>;
}

const { links = [] } = Astro.props as Props;

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;
---

<nav id="breadcrumbs">
  <ul class="flex">
    {
      links.map((link) => (
        <li class="flex items-center">
          <Button
            class={link.href === currentPath ? "text-black font-semibold" : ""}
            text={link.text}
            variant='none'
            size="small"
            type="link"
            href={link.href !== currentPath ? link.href : undefined}
          />
          {
            // Check the link is not last link
            link !== links[links.length - 1] ? <span class="text-default mx-1 font-mono table" style="width: 1px;">&#47;</span> : null
          }
        </li>
      ))
    }
  </ul>
</nav>
