---
import Button from "../common/Button.astro"
---

<div class="w-full max-w-80 flex flex-col items-center border border-[--aw-color-disabled] bg-transparent py-5 gap-4">
  <div class="text-black uppercase font-bold">Нужна консультация?</div>
  <Button
    text="Записаться"
    variant="primary"
    size="small"
    type="link"
    href="#"
    icon="utils/arrow-right"
    iconPosition="right"
    iconClasses="w-2 h-2"
  />
</div>
