---
import { twMerge } from 'tailwind-merge';

interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props as Props;
---

<div class={twMerge('container mx-auto px-4', className)}>
  <slot />
</div>
