---
import BaseLayout from './BaseLayout.astro';
import type { MetaData as MetaDataType } from '~/types';

import Header from '~/components/blocks/Header.astro';
import Footer from '~/components/blocks/Footer.astro';
import Hero from '~/components/structures/Hero.astro';
import BreadCrumbs from '~/components/structures/BreadCrumbs.astro';
import Container from '~/components/common/Container.astro';

import { type HeroItem } from '~/components/structures/Hero.astro';
import { type BreadCrumbLink } from '~/components/structures/BreadCrumbs.astro';

interface Props {
  heroItems?: Array<HeroItem>;
  breadCrumbLinks?: Array<BreadCrumbLink>;
  metadata?: MetaDataType;
}

const { heroItems, breadCrumbLinks, metadata } = Astro.props as Props;
---

<BaseLayout {...Astro.props} {metadata}>
  <Header />
  <Container>
    {heroItems && heroItems.length > 0 && <Hero items={heroItems} />}
  </Container>
  <Container class="mt-5 mb-16">
    <main class="md:col-span-3 min-h-96">
      <BreadCrumbs links={breadCrumbLinks} />
      <div class="flex flex-col gap-14">
        <slot />
      </div>
    </main>
  </Container>
  <Footer />
</BaseLayout>
